*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
#wrapper{
    width: 100%;
    max-width: 1440px;
    background-color: #ffd9d5;
    margin: 0 auto;
}
#top {
    background-image: url(img/title-background.jpg);
}
.subtitle-box {
    position: absolute;
    padding: 100px;
    margin-top: 400px;
}
.sp-subbox {
    display: none;
}
#top .desktop-title img {
    display: block;
    padding: 180px;
}
.sp-title {
    display: none;
}
.subtitle h2 {
    position: absolute;
    font-size: 36px;
    padding: 340px;
    margin-top: 400px;
    margin-left: 50px;
    letter-spacing: 4px;
    line-height: 80px;
    text-align: center;
    color: #67432c;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.subtitle-box {
    position: absolute;
    padding: 100px;
    margin-top: 510px;
}
.navigation-box {
    padding: 30px;
    margin-left: 10px;
    margin-top: 450px;
    z-index: 1;
}
#top .navigation ul {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 60px;
    border-radius: 10px;
    margin-left: 130px;
    margin-top: 40px;
}
.navigation ul li {
    z-index: 2;
    margin-top: 29px;
}
#family {
    background-image: url(img/family-background.jpg);
} 
.family-title {
    display: block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.spfamily-title {
    display: none;
}
.swiper {
    max-width: 1200px;
    max-height: 900px;
}
.swiper-background1 {
    background-color: #feb5ae;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
}
.swiper-slide {
    text-align: center;
}
.swiper-slide img {
    max-width: 900px;
    max-height: 600px;
    object-fit: cover;
    padding-top: 50px;
}
.swiper-slide p {
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;
    color: #fff;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.reservation-family1 {
    display: block;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.reservation-family1 h2 {
    position: absolute;
    padding: 70px;
    padding-left: 185px;
    font-size: 40px;
    text-align: left;
    line-height: 60px;
    letter-spacing: 3px;
    color: #67301e;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.button-family1 {
    display: block;
    position: absolute;
    padding: 70px;
    margin-left: 800px;
}
.spplan-family1{
    display: none;
}
.spbutton-family1{
    display: none;
}
.reservation-family2 {
    text-align: center;
    padding-bottom: 100px;
}
.reservation-family2 h2 {
    position: absolute;
    padding: 80px;
    padding-left: 190px;
    font-size: 40px;
    text-align: left;
    line-height: 60px;
    letter-spacing: 3px;
    color: #67301e;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.button-family2 {
    position: absolute;
    padding: 40px;
    margin-left: 850px;
}
.spplan-family2 {
    display: none;
}
.spbutton-family2 {
    display: none;
}
#baby {
    background: url(img/baby-background.jpg);
    background-position: center;
}
#baby .baby-title img {
    display: block;
    padding: 20px;
    margin-top: 60px;
}
.sptitle-baby {
    display: none;
}
#baby .baby-collage img {
    padding: 50px;
    margin-left: 55px;
}
#baby .baby-subtitle .subbox-baby {
    display: block;
    padding: 25px;
    margin-left: 20px;
}
.spsubbox-baby {
    display: none;
}
#baby .baby-subtitle p.p1-baby {
    position: absolute;
    padding: 140px;
    margin-left: 150px;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2px;
    color: #bec4de;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
#baby .baby-subtitle p.p2-baby {
    position: absolute;
    padding: 400px;
    margin: auto;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2px;
    color: #bec4de;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.reservation-baby h2 {
    position: absolute;
    text-align: center;
    margin-left: 350px;
    padding: 80px;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 2px;
    color: #ffc0b6;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.baby-button {
    display: block;
    position: absolute;
    padding: 210px;
    margin-left: 180px;
}
.spbutton-baby {
    display: none;
}
.baby-box {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}
.spplan-baby {
    display: none;
}
#camp {
    background: url(img/camp-background.jpg);
}
.camp-title {
    display: block;
    text-align: center;
    padding-top: 50px;
    margin-left: 5px;
    margin-bottom: 100px;
}
.sptitle-camp {
    display: none;
}
.camp-subtitle .desktopsubbox-camp{
    display: block;
    padding: 50px;
    margin-left: 45px;
    opacity: 0.8;
    z-index: 1;
}
.spsubbox-camp {
    display: none;
}
.camp-subtitle p.p1-camp {
    position: absolute;
    padding: 130px;
    margin-top: 30px;
    margin-left: 200px;
    z-index: 2;
    text-align: center;
    font-size: 35px;
    color: #ffd9d5;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.camp-subtitle p.p2-camp {
    position: absolute;
    padding: 320px;
    margin-top: 50px;
    z-index: 2;
    text-align: center;
    font-size: 35px;
    color: #ffd9d5;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.reservation-camp1 {
    display: block;
    text-align: center;
}
.spplan-camp1 {
    display: none;
}
.camp1-button {
    display: block;
    margin-top: 10px;
    text-align: center;
}
.spbutton-camp1 {
    display: none;
}
.reservation-camp2 {
    display: block;
    margin-top: 70px;
    text-align: center;
}
.spplan-camp2 {
    display: none;
}
.camp2-button {
    display: block;
    margin-top: 10px;
    padding-bottom: 150px;
    text-align: center;
}
.spbutton-camp2 {
    display: none;
}
#buffet {
    background: url(img/buffet-background.jpg);
}
.buffet-title {
    display: block;
    padding: 30px;
    margin-left: 25px;
}
.sptitle-buffet {
    display: none;
}
.swiper-background3 {
    background-color: #fff;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;
    padding-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
}
.buffet-subtitle {
    text-align: center;
    margin-top: 30px;
}
.buffet-subtitle p.p1-buffet {
    position: absolute;
    font-size: 40px;
    padding: 100px ;
    margin-top: 30px;
    margin-left: 150px;
    color: #fd9a90;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.buffet-subtitle p.p2-buffet {
    position: absolute;
    font-size: 40px;
    padding: 350px;
    margin-top: 120px;
    color: #fd9a90;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.buffet-rating {
    text-align: center;
    margin-top: 70px;
}
.rating-description p.p1-buffet {
    position: absolute;
    padding: 50px;
    margin-left: 550px;
    font-size: 55px;
    color: #fff;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.rating-description p.p2-buffet {
    position: absolute;
    padding: 130px;
    margin-left: 180px;
    font-size: 65px;
    color: #fff;
}
.rating-description p.p3-buffet {
    position: absolute;
    padding: 230px;
    margin-left: 320px;
    font-size: 35px;
    color: #fff;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.rating-description p.p4-buffet {
    position: absolute;
    padding: 250px;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 45px;
    color: #fff;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.rating-description p.p5-buffet {
    position: absolute;
    padding: 300px;
    margin-top: 350px;
    margin-left: 20px;
    font-size: 35px;
    color: #fff;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
#footer {
    background-color: #ffd9d5;
}
.coupon-box {
    text-align: center;
    margin-top: 100px;
}
.coupon-title {
    position: absolute;
    padding: 90px;
    margin-left: 290px;
    font-size: 45px;
    color: #fff;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.coupon-attention {
    text-align: center;
    font-size: 35px;
    color: #f3240f;
}
.jal-box {
    padding: 50px;
    margin-top: 90px;
}
.jal-title {
    text-align: center;
    position: absolute;
    padding: 105px;
    margin-left: 55px;
    font-size: 35px;
    color: #fff;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.ana-box {
    position: absolute;
    margin-left: 50px;
    padding: 45px;
    margin-left: 695px;
    z-index: 1;
}
.ana-title {
    position: absolute;
    padding: 105px;
    margin-left: 750px;
    text-align: center;
    font-size: 35px;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/hiragino_sans_gb_w6-webfont.woff) format(woff) ; 
    color: #fff;
    z-index: 2;
}
.see-title {
    position: absolute;
    padding: 90px;
    margin-left: 470px;
    text-align: center;
    font-size: 35px;
    color: #fff;    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.see-box {
    padding: 30px;
    text-align: center;
}

@media only screen and (max-width: 1440px) {

    *{
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        max-width: 375px;
    }

    #wrapper {
        width: 100%;
        background-color: #ffd9d5;
        margin: 0 auto;
        max-width: 375px;
    }

    #top {
        background-image: url(img/sp-images/spbackground-title.jpg);
        background-size: cover;
        max-width: 375px;
    }

    .desktop-title {
        display: none;
    }

    .sp-title {
        display: block;
        padding: 50px;
        margin-left: 30px;
    }

    .subtitle-box {
        display: none;
    }

    .sp-subbox {
        display: block;
        margin-left: 30px;
    }

    .subtitle h2 {
        position: absolute;
        font-size: 10px;
        padding: 80px;
        margin-top: 175px;
        margin-left: 10px;
        letter-spacing: 1px;
        line-height: 20px;
        text-align: center;
        color: #67432c;
        font-family: 'Hiragino Sans GB W6';
        src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
    }

    .navigation-box{
        display: none;
    }

    .navigation ul li {
        display: none;
    }

    #family {
        background-image: url(img/sp-images/spbackground-family.jpg);
        background-repeat: no-repeat;
    }

    .family-title {
        display: none;
    }

    .spfamily-title {
        display: block;
        padding: 10px;
    }

    .swiper {
        max-width: 333px;
        max-height: 261px;
    }
    .swiper-background1 {
        background-color: #feb5ae;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
        border-radius: 40px;
    }
    .swiper-slide {
        text-align: center;
    }
    .swiper-slide img {
        max-width: 265px;
        max-height: 600px;
        object-fit: cover;
        padding-top: 30px;
    }
    .swiper-slide p {
        max-width: 333px;
        margin: auto;
        margin-bottom: 30px;
        font-size: 8px;
        color: #fff;
        font-family: 'Hiragino Sans GB W6';
        src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
    }

    .reservation-family1 {
        display: block;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .reservation-box1 {
        display: none;
    }
    .spplan-family1 {
        display: block;
    }

    .reservation-family1 h2 {
        position: absolute;
        padding: 20px;
        margin-left: 25px;
        font-size: 12px;
        text-align: left;
        line-height: 14px;
        letter-spacing: 0px;
        color: #67301e;
        font-family: 'Hiragino Sans GB W6';
        src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
    }

    .button-family1 {
        display: none;
    }

    .spbutton-family1 {
        display: block;
        position: absolute;
        padding: 13px;
        margin-left: 224px;
    }

    .reservation-family2 {
        text-align: center;
        padding: 5px;
    }

    .spbutton-family2 {
        display: block;
    }
    .reservation-family2 h2 {
        position: absolute;
        padding: 25px;
        margin-left: 15px;
        font-size: 12px;
        text-align: left;
        line-height: 14px;
        letter-spacing: 0px;
        color: #67301e;
        font-family: 'Hiragino Sans GB W6';
        src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
    }

    .reservation-box2 {
        display: none;
    }

    .button-family2 {
        display: none;
    }

    .spplan-family2 {
        display: block;
    }

    .spbutton-family2 {
        display: block;
        position: absolute;
        padding: 15px;
        margin-left: 215px;
    }

    #baby {
        background-image: url(img/sp-images/spbackground-baby.jpg);
        background-repeat: no-repeat;
    }

    .baby-title {
        display: none;
    }

    .sptitle-baby {
        display: block;
        padding: 5px;
        margin-left: 3px;
        padding-top: 15px;
    }

    #baby .baby-collage img {
        width: 325px;
        height: 233px;
        padding: 10px;
        margin-left: 25px;
    }

    #baby .baby-subtitle .subbox-baby {
        display: none;
    }
    .spsubbox-baby {
        width: 335px;
        display: block;
    }

    #baby .baby-subtitle p.p1-baby {
        position: absolute;
        padding: 25px;
        margin-top: 5px;
        margin-left: 35px;
        font-size: 11px;
        text-align: center;
        line-height: 15px;
        letter-spacing: 1px;
        color: #bec4de;
        font-family: 'Hiragino Sans GB W6';
        src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
    }
    #baby .baby-subtitle p.p2-baby {
        position: absolute;
        padding: 75px;
        margin-top: 15px;
        font-size: 12px;
        text-align: center;
        line-height: 17px;
        letter-spacing: 1px;
        color: #bec4de;
        font-family: 'Hiragino Sans GB W6';
        src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
    }

    .baby-box {
        display: none;
    }
    .spplan-baby {
        display: block;
        padding: 5px;
        margin-top: 5px;
        padding-bottom: 40px;
        margin-left: 70px;
    }

    .reservation-baby h2 {
        position: absolute;
        text-align: center;
        margin-left: 70px;
        padding: 30px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1px;
        color: #ffc0b6;
        font-family: 'Hiragino Sans GB W6';
        src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
    }

    .baby-button {
        display: none;
    }
    .spbutton-baby {
        display: block;
        position: absolute;
        padding: 60px;
        margin-left: 40px;
    }

    #camp {
        background-image: url(img/sp-images/spbackground-camp.jpg);
        background-repeat: no-repeat;
    }

    .camp-title {
        display: none;
    }
    .sptitle-camp {
        display: block;
        text-align: center;
        padding-top: 10px;
    }

    .camp-subtitle .desktopsubbox-camp{
        display: none;
    }
    .spsubbox-camp {
        display: block;
        width: 265px;
        margin-top: 20px;
    }

    .camp-subtitle p.p1-camp {
        position: absolute;
        padding: 10px;
        margin-top: 5px;
        margin-left: 65px;
        z-index: 2;
        text-align: center;
        font-size: 10px;
        color: #ffd9d5;
        font-family: 'Hiragino Sans GB W6';
        src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
    }
    .camp-subtitle p.p2-camp {
        position: absolute;
        padding: 20px;
        margin-top: 55px;
        margin-left: 55px;
        z-index: 2;
        text-align: center;
        font-size: 10px;
        color: #ffd9d5;
        font-family: 'Hiragino Sans GB W6';
        src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
    }

    .reservation-camp1 {
        display: none;
    }
    .spplan-camp1 {
        display: block;
        text-align: center;
        margin-top: 15px;
    }
    .camp1-button {
        display: none;
    }

    .spbutton-camp1 {
        display: block;
        text-align: center;
    }

    .reservation-camp2 {
        display: none;
    }
    .spplan-camp2 {
        display: block;
        text-align: center;
    }

    .camp2-button {
        display: none;
    }
    .spbutton-camp2 {
        display: block;
        text-align: center;
        padding-bottom: 13px;
    }

    #buffet {
        background-image: url(img/sp-images/spbackground-buffet.jpg);
    }

    .buffet-title {
        display: none;
    }
    .sptitle-buffet {
        display: block;
        padding: 5px;
        padding-top: 10px;
        margin-left: 5px;
    }
}