*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    width: 100%;
    max-width: 1440px;
    background-color: #ffd9d5;
    margin: 0 auto;
}
#top {
    background-image: url(img/title-background.jpg);
}
#top .title img {
    padding: 180px;
}
#top .subtitle h2 {
    font-size: 36px;
    letter-spacing: 4px;
    line-height: 80px;
    text-align: center;
    color: #67432c;
}
#top .navigation ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 330px;
    gap: 70px;
}
#top .navigation ul li {

}