*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
#wrapper{
    width: 100%;
    max-width: 1440px;
    background-color: #ffd9d5;
    margin: 0 auto;
}
#top {
    background-image: url(img/title-background.jpg);
}
.subtitle-box {
    position: absolute;
    padding: 100px;
    margin-top: 400px;
}
#top .title img {
    padding: 180px;
}
.subtitle h2 {
    position: absolute;
    font-size: 36px;
    padding: 340px;
    margin-top: 400px;
    margin-left: 50px;
    letter-spacing: 4px;
    line-height: 80px;
    text-align: center;
    color: #67432c;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.subtitle-box {
    position: absolute;
    padding: 100px;
    margin-top: 510px;
}
.navigation-box {
    padding: 30px;
    margin-left: 10px;
    margin-top: 450px;
    z-index: 1;
}
#top .navigation ul {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 60px;
    border-radius: 10px;
    margin-left: 130px;
    margin-top: 40px;
}
.navigation ul li {
    z-index: 2;
    margin-top: 29px;
}
#family {
    background-image: url(img/family-background.jpg);
} 
.family-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.swiper {
    max-width: 1200px;
    max-height: 900px;
}
.swiper-background1 {
    background-color: #feb5ae;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
}
.swiper-slide {
    text-align: center;
}
.swiper-slide img {
    max-width: 900px;
    max-height: 600px;
    object-fit: cover;
    padding-top: 50px;
}
.swiper-slide p {
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;
    color: #fff;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.reservation-family1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.reservation-family1 h2 {
    position: absolute;
    padding: 70px;
    padding-left: 185px;
    font-size: 40px;
    text-align: left;
    line-height: 60px;
    letter-spacing: 3px;
    color: #67301e;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.button-family1 {
    position: absolute;
    padding: 70px;
    margin-left: 800px;
}
.reservation-family2 {
    text-align: center;
    padding-bottom: 100px;
}
.reservation-family2 h2 {
    position: absolute;
    padding: 80px;
    padding-left: 190px;
    font-size: 40px;
    text-align: left;
    line-height: 60px;
    letter-spacing: 3px;
    color: #67301e;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.button-family2 {
    position: absolute;
    padding: 40px;
    margin-left: 850px;
}
#baby {
    background: url(img/baby-background.jpg);
    background-position: center;
}
#baby .baby-title img {
    padding: 20px;
    margin-top: 60px;
}
#baby .baby-collage img {
    padding: 50px;
    margin-left: 55px;
}
#baby .baby-subtitle img {
    padding: 25px;
    margin-left: 20px;
}
#baby .baby-subtitle p.p1-baby {
    position: absolute;
    padding: 140px;
    margin-left: 150px;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2px;
    color: #bec4de;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
#baby .baby-subtitle p.p2-baby {
    position: absolute;
    padding: 400px;
    margin: auto;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2px;
    color: #bec4de;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.reservation-baby h2 {
    position: absolute;
    text-align: center;
    margin-left: 350px;
    padding: 80px;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 2px;
    color: #ffc0b6;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.baby-button {
    position: absolute;
    padding: 210px;
    margin-left: 180px;
}
.baby-box {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}
#camp {
    background: url(img/camp-background.jpg);
}
.camp-title {
    text-align: center;
    padding-top: 50px;
    margin-left: 5px;
    margin-bottom: 100px;
}
.camp-subtitle img{
    padding: 50px;
    margin-left: 45px;
    opacity: 0.8;
    z-index: 1;
}
.camp-subtitle p.p1-camp {
    position: absolute;
    padding: 130px;
    margin-top: 30px;
    margin-left: 200px;
    z-index: 2;
    text-align: center;
    font-size: 35px;
    color: #ffd9d5;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.camp-subtitle p.p2-camp {
    position: absolute;
    padding: 320px;
    margin-top: 50px;
    z-index: 2;
    text-align: center;
    font-size: 35px;
    color: #ffd9d5;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.reservation-camp1 {
    text-align: center;
}
.camp1-button {
    margin-top: 10px;
    text-align: center;
}
.reservation-camp2 {
    margin-top: 70px;
    text-align: center;
}
.camp2-button {
    margin-top: 10px;
    padding-bottom: 150px;
    text-align: center;
}
#buffet {
    background: url(img/buffet-background.jpg);
}
.buffet-title {
    padding: 30px;
    margin-left: 25px;
}
.swiper-background3 {
    background-color: #fff;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;
    padding-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
}
.buffet-subtitle {
    text-align: center;
    margin-top: 30px;
}
.buffet-subtitle p.p1-buffet {
    position: absolute;
    font-size: 40px;
    padding: 100px ;
    margin-top: 30px;
    margin-left: 150px;
    color: #fd9a90;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.buffet-subtitle p.p2-buffet {
    position: absolute;
    font-size: 40px;
    padding: 350px;
    margin-top: 120px;
    color: #fd9a90;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.buffet-rating {
    text-align: center;
    margin-top: 70px;
}
.rating-description p.p1-buffet {
    position: absolute;
    padding: 50px;
    margin-left: 550px;
    font-size: 55px;
    color: #fff;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.rating-description p.p2-buffet {
    position: absolute;
    padding: 130px;
    margin-left: 180px;
    font-size: 65px;
    color: #fff;
}
.rating-description p.p3-buffet {
    position: absolute;
    padding: 230px;
    margin-left: 320px;
    font-size: 35px;
    color: #fff;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.rating-description p.p4-buffet {
    position: absolute;
    padding: 250px;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 45px;
    color: #fff;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.rating-description p.p5-buffet {
    position: absolute;
    padding: 300px;
    margin-top: 350px;
    margin-left: 20px;
    font-size: 35px;
    color: #fff;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.coupon-box {
    text-align: center;
    margin-top: 100px;
}
.coupon-title {
    position: absolute;
    padding: 90px;
    margin-left: 290px;
    font-size: 45px;
    color: #fff;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.coupon-attention {
    text-align: center;
    font-size: 35px;
    color: #f3240f;
}
.jal-box {
    padding: 50px;
    margin-top: 90px;
}
.jal-title {
    text-align: center;
    position: absolute;
    padding: 105px;
    margin-left: 55px;
    font-size: 35px;
    color: #fff;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.ana-box {
    position: absolute;
    margin-left: 50px;
    padding: 45px;
    margin-left: 695px;
    z-index: 1;
}
.ana-title {
    position: absolute;
    padding: 105px;
    margin-left: 750px;
    text-align: center;
    font-size: 35px;
    font-family: 'Hiragino Sans GB W6';
    src: url(font/hiragino_sans_gb_w6-webfont.woff) format(woff) ; 
    color: #fff;
    z-index: 2;
}
.see-title {
    position: absolute;
    padding: 90px;
    margin-left: 470px;
    text-align: center;
    font-size: 35px;
    color: #fff;    font-family: 'Hiragino Sans GB W6';
    src: url(font/Hiragino\ Sans\ GB\ W6.ttf);
}
.see-box {
    padding: 30px;
    text-align: center;
}

@media only screen and (max-width: 1440px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #wrapper {
        width: 100%;
        background-color: #ffd9d5;
        margin: auto;
    }

    .navigation-box{
        display: none;
    }

    .navigation ul li {
        display: none;
    }
}